<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top-level-items</key>
	<array>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>102</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>101</string>
					<key>Timestamp</key>
					<string>740947606.8337131</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Tzedakah App/Screens/CampaignDetailScreenView/CampaignDetailScreenView.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>            campaign.campaignImage
</string>
				<key>leading</key>
				<string>         // Image Section
        return ZStack(alignment: .topLeading) {
</string>
				<key>trailing</key>
				<string>                .resizable()
                .aspectRatio(contentMode: .fill)
                .frame(width:400, height: 300)
</string>
			</dict>
			<key>title</key>
			<string>replace the image name</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
	</array>
</dict>
</plist>
